<?xml version="1.0"?>
<robot>
  <gazebo reference="link_1"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="link_2"><material>Gazebo/White</material></gazebo>
  <gazebo reference="camera_base_link"><material>Gazebo/Grey</material></gazebo>

  <gazebo reference="camera_mount_link">
      <sensor name="d435_color" type="camera">
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>1</visualize>
        <pose>0 0.0175 0.0 0 -0 0</pose>
        <topic>/color_camera</topic>
        <camera name="d435">
          <horizontal_fov>1.21126</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
      <sensor name='d435_depth' type='depth_camera'>
        <always_on>1</always_on>
        <update_rate>15</update_rate>
        <visualize>1</visualize>
        <topic>/depth_camera</topic>
        <pose>0 0.04 -0.04 0 0 0</pose>
        <camera name='d435'>
          <horizontal_fov>1.48702</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
          </image>
          <clip>
            <near>0.2</near>
            <far>5</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.1</stddev>
          </noise>
        </camera>

        <plugin filename="libgz-sim-sensors-system.so" name="gz::sim::systems::Sensors">
          <render_engine>ogre</render_engine>
        </plugin>
      </sensor>
    </gazebo>
</robot>
