<?xml version="1.0"?>
<robot>

  <gazebo reference="base_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="link_1">
    <material>Gazebo/Orange</material>
    <surface>
      <friction>
        <ode>
          <mu>0.2</mu>
          <mu2>0.2</mu2>
        </ode>
      </friction>
    </surface>
  </gazebo>

  <gazebo reference="link_2">
    <material>Gazebo/White</material>
    <surface>
      <friction>
        <ode>
          <mu>0.2</mu>
          <mu2>0.2</mu2>
        </ode>
      </friction>
    </surface>
  </gazebo>

  <gazebo reference="camera_link">
    <material>Gazebo/Grey</material>
    <surface>
      <friction>
        <ode>
          <mu>0.2</mu>
          <mu2>0.2</mu2>
        </ode>
      </friction>
    </surface>
  </gazebo>

  <gazebo reference="camera_rgb_frame">
    <sensor type="rgbd_camera" name="sensor_pole_rgbd_camera">
      <always_on>true</always_on>
      <visualize>false</visualize> <update_rate>15</update_rate>

      <camera name="color_camera">
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format> </image>
        <clip>
          <near>0.01</near>
          <far>9</far>
        </clip>
        <topic>/color_camera</topic>
      </camera>

      <depth_camera name="depth_camera">
        <image>
          <topic>/depth_camera</topic>
        </image>
        <point_cloud>
          <topic>/depth_camera/points</topic>
        </point_cloud>
        <clip>
          <near>0.01</near>
          <far>9</far>
        </clip>
      </depth_camera>
    </sensor>
  </gazebo>

</robot>